# ignore vscode files
.vscode/

# ignore dataset/processed
*.png
*.xml
*.npy
code/USPrediction.egg-info/
code/build/
code/models/unet/_pycache/
temp_frames/
code/models/unet/__pycache__/*
code/utils/__pycache__/*
